.componentProfile {
  background-color: #ccccccda;
  width: 500px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.profile {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  width: 350px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgb(68, 68, 68);
}

.avatar {
  border-radius: 125px;
  background-color: #bbefb3;
  height: 150px;
}

.name {
  font-family: 'Roboto Slab';
  font-size: 28px;
  margin: 0px;
}

.tag {
  font-family: 'Roboto Slab';
  font-size: 14px;
  margin: 0px;
}

.location {
  font-family: 'Roboto Slab';
  font-size: 14px;
  margin: 0px;
  padding-bottom: 50px;
}

.profileStats {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  background-color: #cccccc84;
  margin: 0;
  border: 1px solid rgb(68, 68, 68);
}

.statsItem {
  border: 1px solid rgb(68, 68, 68);
  width: 116px;
  align-items: center;
}

.labelP {
  font-family: 'Roboto Slab';
  font-size: 18px;

}

.quantity {
  margin: 0px;
  font-weight: bold;
  font-size: 24px;
}
